doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')

    title #{config.event.name} &bull; #{config.event.description}

    meta(name='description' content=`${config.event.name} - ${config.event.description}`)
    meta(name='keywords' content='desenvolvedor frontend, desenvolvedor front-end, front-end em florianópolis, eventos de front-end em florianópolis, frontinfloripa, frontinfloripa 2018, eventos de desenvolvimento, desenvolvimento, front-end, html, html5, css3, css, javascript, js')

    link(rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png")
    link(rel="manifest" href="assets/favicons/site.webmanifest")
    link(rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#262626")
    link(rel="shortcut icon" href="assets/favicons/favicon.ico")
    meta(name="msapplication-TileColor" content="#262626")
    meta(name="msapplication-config" content="assets/favicons/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")

    meta(property='og:locale' content='pt_BR')
    meta(property='og:url' content=`${config.event.url}`)
    meta(property='og:type' content='website')
    meta(property='og:title' content=`${config.event.name}`)
    meta(property='og:site_name' content='Front in Floripa')
    meta(property='og:description' content=`${config.event.description}`)
    meta(property='og:image' content='http://www.frontinfloripa.com.br/assets/img/social.png')

    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:title' content=`${config.event.name}`)
    meta(name='twitter:description' content=`${config.event.description}`)
    meta(name='twitter:site' content='@frontinfloripa')
    meta(name='twitter:image' content='http://www.frontinfloripa.com.br/assets/img/social.png')

    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Inconsolata:400,700')
    link(rel='stylesheet' href='assets/css/main.css')
  body
    header.header
      .header-wrapper
        .header-content
          .header-content__logo
            .header-logo #{config.event.name}
          .header-content__text
            h1.header-title Maior evento front-end de Santa Catarina
            p.header-date 01/Dez #[span.divisor] Hotel Maria do Mar
            a.button.button-header(href=`${config.tickets.url}` target="_blank") Comprar Ingresso
            .header-extra
              a.header-extra__link(href=`${config.forms.sponsor}` target="_blank") Quero patrocinar

    section.features
      .features-wrapper
        .features-content
          .features-content__text
            h2.features-title A melhor experiência de Floripa!
            p.features-description Desde nossa primeira edição em 2013 fomos moldando e melhorando o evento para chegar nesse formato que acreditamos ser o melhor.
            p.features-description Em 2017 fizemos um evento diferente de todos. Tivemos um grande lounge com vídeo-game, nerfs, vários puffs, café e snacks. Além disso, fomos um dos primeiros eventos a ter brincadeiras entre as palestras, como Torta na Cara, Imagem e Ação, Tiro ao Alvo, Jokenpo e muito mais. Ahh, também servimos pipoca e bebida para as pessoas sortudas que sentam no divã em frente ao palco.
            p.features-description Esse ano vamos manter o conceito do evento, sempre focando na experiência e interação entre os participantes!
            a.button.features-button(href='https://www.facebook.com/pg/frontinfloripa/photos/?tab=album&album_id=944853178986114' target='_blank') Ver fotos de 2017
          .features-content__images
            ul.features-images
              li
                img(src='assets/img/event-2017_02.jpg')
              li
                img(src='assets/img/event-2017_04.jpg')
              li
                img(src='assets/img/event-2017_01.jpg')
              li
                img(src='assets/img/event-2017_03.jpg')

    section.speakers
      .speakers-wrapper
        .speakers-content
          h2.speakers-title Speakers
          ul.speakers-list
            each speaker in speakers
              li(class=`speaker-item speaker-item--${speaker.status}`)
                .speaker-item-column__image
                  .speaker-item-avatar
                    img(src=`assets/img/speakers/${speaker.avatar}`)
                .speaker-item-column__content
                  .speaker-item-column__content-wrapper
                    h3.speaker-item__title= speaker.name
                    p.speaker-item__bio= speaker.bio
                    p.speaker-item__talk= speaker.talk
                    .speaker-item__social
                      if speaker.github
                        a.speaker-item__social-link(href=`https://github.com/${speaker.github}` target='_blank') Github
                      if speaker.twitter
                        a.speaker-item__social-link(href=`https://twitter.com/${speaker.twitter}` target='_blank') Twitter

  section.location
    .location-wrapper
      .location-column.location-column__content
        .location-column__content-inner
          span.location-title &mdash; Location
          h2.location-venue Hotel Maria do Mar
          address.location-address Rodovia João Paulo, 2285 #[br] Bairro João Paulo #[br] Florianópolis - SC - Brasil
          a.button.location-button(href='https://goo.gl/maps/ty539BmfZM82' target='_blank') Como chegar
      .location-column.location-column__image

  section.schedule
    .schedule-wrapper
      .schedule-content
        h2.schedule-title Schedule
        ul.schedule-list
          each event in schedule
            li(class=`schedule-item schedule-item__${event.type}`)
              .schedule-column__time
                span.schedule-item__time= event.time
              .schedule-column__content
                .schedule-column__content-inner
                  h3.schedule-item__title= event.title
                  if event.talk
                    p.schedule-item__description= event.talk
        p.schedule-note Os horários e slots poderão sofrer alterações até o dia do evento.

  section.tickets
    .tickets-wrapper
      .tickets-content
        h2.tickets-title Tickets
        ul.tickets-list
          each ticket in tickets
            li(class=`ticket-item ticket-item--${ticket.open}`)
              h3.ticket-item__title= ticket.title
              p.ticket-item__date= ticket.date
              p.ticket-item__obs Ou até esgotar
              p.ticket-item__price= `R$ ${ticket.value}`
              .ticket-item__button
                a.button(href=`${config.tickets.url}` target='_blank') Comprar

  section.support
    .support-wrapper
      .support-content
        h2.support-title Patrocínio
        ul.support-list.support-list--patrocinio
          each item in sponsors
            li.support-item
              a.support-link(href=`${item.website}` target='_blank')
                img(src=`assets/img/sponsors/${item.logo}`)
        h2.support-title.support-title--apoio Apoio
        ul.support-list.support-list--apoio
          each item in support
            li.support-item
              a.support-link(href=`${item.website}` target='_blank')
                img(src=`assets/img/support/${item.logo}`)

  footer.footer
    .footer-wrapper
      .footer-content
        .footer-column.footer-column--coc
          a.footer-link(href='https://braziljs.org/coc/' target='_blank') Código de Conduta
        .footer-column.footer-column--email
          span.footer-text contato@frontinfloripa.com.br
        .footer-column.footer-column--social
          a.footer-link(href='https://github.com/frontinfloripa' target='_blank') Github
          a.footer-link(href='https://twitter.com/frontinfloripa' target='_blank') Twitter
          a.footer-link(href='https://fb.com/frontinfloripa' target='_blank') Facebook
